@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #474098;
  --secondary: #66619d;
  --black: #34435E;
  --white: #ffffff;
}

body {
  background-color: var(--primary);
  color: white;
  align-content: space-between;
}

.tile {
  width: 300px;
  height: 300px;
  background-color: var(--secondary);
  transition: background-color linear .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

.tile:hover {
  background-color: var(--black);
  color: var(--white);
}

.tile p {
  margin: 0px auto;
  font-size: calc(0.75rem + 1.5vw);
  font-weight: 700;
}

header,
main,
footer {
  width: 100%;
}

.navbar-brand {
  font-size: calc(0.75rem + 1.5vw);
  font-weight: 700;
}

.net-icon {
  animation-name: helloWorld;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.img-net{
  width: auto;
  height: 20rem;
}

.block {
  height: 300px;
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  transition: linear .3s;
  text-decoration: none;
}

.block.disabled {
  background-color: var(--primary);
  border: 3px solid var(--secondary);
}

.block:hover {
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  color: var(--white);
}

.hello-text {
  font-size: calc(2.5rem + 1.5vw);
}

ol {
  padding-left: 1.25rem;
  font-size: 1.125rem;
}

ol li {
  padding-left: 0.5rem;
}

.net-bg-secondary {
  background-color: var(--secondary);
}

a {
  color: rgba(255, 255, 255, 0.75);
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

@keyframes helloWorld {
  0%,
  100% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
}

.timeline {
  min-width: 300px;
  max-width: 50vw;
  margin: auto;
  margin-bottom: 20px;
}

.timeline p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, var(--secondary) 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--white);
}

.timeline p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 2.5em;
    width: 2.5em;
    background-color: var(--black);
    text-align: center;
    line-height: 1.25em;
    color: white;
    font-size: 1em;
}

.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline p:nth-child(odd):before {
    left: 100%; 
    margin-left: -20px;
}

.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.timeline p:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
}

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
